
[push]
	default = current

[alias]
	st = status
	ci = commit --verbose
	br = branch
	co = checkout
[credential]

	helper = cache --timeout=36000

[core]
	autocrlf = input
	editor = code --wait

[url "ssh://git@git.dianpingoa.com/"]
	insteadOf = https://dianpingoa.com/

[includeIf "gitdir:~/code/"]
	path = ~/.gitconfig-meituan

[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-meituan

[includeIf "gitdir:~/go/"]
	path = ~/.gitconfig-meituan

[includeIf "gitdir:/opt/meituan"]
	path = ~/.gitconfig-meituan

[includeIf "gitdir:~/poney/"]
	path = ~/.gitconfig-mine
[http]
	postBuffer = 524288000
[user]
	name = Leo
	email = glasslion@gmail.com
